wilkesliberty.com {
    reverse_proxy /api* http://{{ onprem_tailscale_ip }}:8080 {  # On-prem server Tailscale IP
        header_up X-Forwarded-For {remote_host}
    }
    reverse_proxy /auth* http://{{ onprem_tailscale_ip }}:8081   # Keycloak
    reverse_proxy http://localhost:3000             # Next.js UI (if running on VPS)
}
