NODE_ENV=production
PORT=3000
HOSTNAME=127.0.0.1
NEXT_PUBLIC_SITE_URL={{ ui_site_url | default('https://wilkesliberty.com') }}
NEXT_PUBLIC_DRUPAL_BASE_URL={{ ui_drupal_base_url | default('https://api.wilkesliberty.com') }}
DRUPAL_BASE_URL={{ ui_drupal_base_url | default('https://api.wilkesliberty.com') }}
NEXT_IMAGE_DOMAIN={{ ui_image_domain | default('api.wilkesliberty.com') }}
NEXT_PUBLIC_IDENTITY_URL={{ ui_identity_url | default('https://auth.wilkesliberty.com') }}
